.task {
	display: flex;
	margin: 0.25rem 0.5rem 1rem 0.5rem;
}

.add-task {
	outline: none;
	margin: 0 0.5rem;
	cursor: text;
}

.add-task[placeholder]:empty:before {
	content: attr(placeholder);
	color: rgb(143, 143, 143);
}

.hash {
	color: #702ee6;
}

.at {
	color: #38ff9c;
}

.email {
	color: #ffb938;
}

.url {
	color: #4bb7ff;
}
