.task-row {
  display: flex;
  margin-left: 13px;
  margin-top: 10px;
  font-size: 11pt;
}

.item-check {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  margin-right: 8px;
}

.tags {
  border-radius: 10px;
  padding: 1px 6px;
  margin: 0 4px;
}

.saved-hash {
  color: var(--hash-color);
  background: #dbc7ff;
}

.saved-at {
  color: var(--at-color);
  background: #adf0d9;
}

.saved-email {
  color: var(--email-color);
  background: #ffe6c7;
}

.saved-url {
  color: var(--url-color);
  background: #d6ebff;
}
