:root {
  --hash-color: #702ee6;
  --at-color: #07a873;
  --email-color: #f58e0a;
  --url-color: #007fff;
}

a {
  text-decoration: none;
}

body {
  margin: 3rem;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
